/*!
 * Dribbble HD extension
 */

/* Shot styles */
body #main ol.dribbbles li.group { width: 420px; margin: 0 20px 30px 0; }
body #main ol.dribbbles li.group .dribbble-shot { position: relative; background-image: url('../img/dribbble_check.png'); } /* Replaces chessboard background for bigger one */
body #main ol.dribbbles li.group .dribbble-img { width: 400px; height: 300px; padding: 0; }
body #main ol.dribbbles li.group .dribbble-img .dribbble-link img { display: block; position: absolute; top: 10px; left: 10px;
	width: 400px; height: 300px; max-width: 400px; max-height: 300px;
}
body #main ol.dribbbles li.group .dribhd-loading { position: absolute; width: 50px; height: 50px; top: 50%; left: 50%; margin: -25px 0 0 -25px;
	background: url('../img/loading.gif') no-repeat center center rgba(0,0,0,.6); z-index: 10; border-radius: 50%;
}
body #main ol.dribbbles li.group .dribbble-img .dribbble-link .hd {  }
body #main ol.dribbbles li.group .dribbble-over { width: 420px; border-radius: 4px; }

body #main ol.dribbbles li.group div.dribbble span.attachments-mark { margin-right: 5px; }
body #main .dribhd-shotname { display: inline-block; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 230px; }

/* Shared element styles */
#header-inner,
#footer-inner,
#main .page,
#main.main-full,
#wrap .profile-dash-inner,
#content { max-width: none; }

/* 2 shots per row */
@media all and (max-width: 1339px) {
	.dribhd #header-inner,
	.dribhd #content,
	.dribhd #footer-inner,
	.dribhd #wrap .profile-dash-inner,
	.dribhd #main,
	.dribhd #main ol.dribbbles { width: 860px; }
	.dribhd #main ol.dribbbles li.group:nth-child(2n) { margin-right: 0; }
	.dribhd #footer ul#footer-nav { width: 600px; }
}

/* 3 shots per row */
@media all and (min-width: 1340px) and (max-width: 1779px) {
	.dribhd #header-inner,
	.dribhd #content,
	.dribhd #footer-inner,
	.dribhd #wrap .profile-dash-inner,
	.dribhd #main,
	.dribhd #main ol.dribbbles { width: 1300px; }
	.dribhd #main ol.dribbbles li.group:nth-child(3n) { margin-right: 0; }
}

/* 4 shots per row */
@media all and (min-width: 1780px) and (max-width: 2239px) {
	.dribhd #header-inner,
	.dribhd #content,
	.dribhd #footer-inner,
	.dribhd #wrap .profile-dash-inner,
	.dribhd #main,
	.dribhd #main ol.dribbbles { width: 1740px; }
	.dribhd #main ol.dribbbles li.group:nth-child(4n) { margin-right: 0; }
}

/* 5+ shots per row */
@media all and (min-width: 2240px) {
	.dribhd #header-inner,
	.dribhd #content,
	.dribhd #footer-inner,
	.dribhd #wrap .profile-dash-inner,
	.dribhd #main,
	.dribhd #main ol.dribbbles { width: 2180px; }
	.dribhd #main ol.dribbbles li.group:nth-child(5n) { margin-right: 0; }
}

/* Sidebar pages styles */
.dribhd-sidebar #main + .secondary { width: 220px; }

/* 2 shots per row */
@media all and (max-width: 1569px) {
	.dribhd-sidebar #header-inner,
	.dribhd-sidebar #footer-inner,
	.dribhd-sidebar #content { width: 1100px; }
	.dribhd-sidebar #main,
	.dribhd-sidebar #main ol.dribbbles { width: 860px; }
	.dribhd-sidebar #main ol.dribbbles li.group:nth-child(2n) { margin-right: 0; }
}

/* 3 shots per row */
@media all and (min-width: 1570px) and (max-width: 2009px) {
	.dribhd-sidebar #header-inner,
	.dribhd-sidebar #footer-inner,
	.dribhd-sidebar #content { width: 1550px; }
	.dribhd-sidebar #main,
	.dribhd-sidebar #main ol.dribbbles { width: 1300px; }
	.dribhd-sidebar #main ol.dribbbles li.group:nth-child(3n) { margin-right: 0; }
}

/* 4 shots per row */
@media all and (min-width: 2010px) {
	.dribhd-sidebar #header-inner,
	.dribhd-sidebar #footer-inner,
	.dribhd-sidebar #content { width: 1990px; }
	.dribhd-sidebar #main,
	.dribhd-sidebar #main ol.dribbbles { width: 1750px; }
	.dribhd-sidebar #main ol.dribbbles li.group:nth-child(4n) { margin-right: 0; }
}